p {
    font-family: cursive
}

#barrier {
    height: 0px;
}

.x {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 5px;
    display: inline-block;
}

.y {
    height: 100px;
    width: 100px;
    background-color: skyblue;
    border-radius: 5px;
    display: inline-block;
}

.z {
    height: 100px;
    width: 100px;
    background-color: deepskyblue;
    border-radius: 5px;
    display: inline-block;
}
